# 忽略所有的日志文件
*.log

# 忽略敏感配置文件（使用目录路径）
hospital/admin/src/main/resources/
hospital/externalservice/src/main/resources/
hospital/restful/src/main/resources/
hospital/test/src/main/resources/

# 忽略 README.md 文件
README.md

# 忽略整个目录
node_modules/
temp/
