package ${package.Service};
import com.hospital.mbg.model.${entity};
import java.util.List;
#set($lowerFirstChar = $entity.substring(0, 1).toLowerCase())
#set($remainingChars = $entity.substring(1))
#set($FirstWordLower = $lowerFirstChar + $remainingChars)
import com.hospital.common.api.CommonResult;
#set($idType = "Integer")
#foreach($item in $table.fields)
    #if($item.keyFlag)
        #set($idType = $item.columnType.toString().substring(0, 1).toUpperCase()+$item.columnType.toString().substring(1).toLowerCase())
    #end
#end

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 * @author ${author}
 * @since ${date}
 */

public interface ${table.serviceName} {
    List<${entity}> list(Integer pageSize, Integer pageNum);

    List<${entity}> searchByField(String field,Object value,Integer pageSize, Integer pageNum);
}

