<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mbg.mapper.DruginventoryMapper">
  <resultMap id="BaseResultMap" type="com.hospital.mbg.model.Druginventory">
    <id column="DrugID" jdbcType="INTEGER" property="DrugID" />
    <result column="DrugName" jdbcType="VARCHAR" property="DrugName" />
    <result column="Category" jdbcType="VARCHAR" property="Category" />
    <result column="Quantity" jdbcType="INTEGER" property="Quantity" />
    <result column="UnitPrice" jdbcType="DECIMAL" property="UnitPrice" />
    <result column="SupplierName" jdbcType="VARCHAR" property="SupplierName" />
    <result column="LastUpdated" jdbcType="TIMESTAMP" property="LastUpdated" />
    <result column="ManufactureDate" jdbcType="DATE" property="ManufactureDate" />
    <result column="ExpiryDate" jdbcType="DATE" property="ExpiryDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DrugID, DrugName, Category, Quantity, UnitPrice, SupplierName, LastUpdated, ManufactureDate, 
    ExpiryDate
  </sql>
  <select id="selectByExample" parameterType="com.hospital.mbg.model.DruginventoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from druginventory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from druginventory
    where DrugID = #{DrugID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from druginventory
    where DrugID = #{DrugID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hospital.mbg.model.DruginventoryExample">
    delete from druginventory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="DrugID" parameterType="com.hospital.mbg.model.Druginventory" useGeneratedKeys="true">
    insert into druginventory (DrugID, DrugName, Category, 
      Quantity, UnitPrice, SupplierName, 
      LastUpdated, ManufactureDate, ExpiryDate
      )
    values (#{DrugID,jdbcType=INTEGER}, #{DrugName,jdbcType=VARCHAR}, #{Category,jdbcType=VARCHAR}, 
      #{Quantity,jdbcType=INTEGER}, #{UnitPrice,jdbcType=DECIMAL}, #{SupplierName,jdbcType=VARCHAR}, 
      #{LastUpdated,jdbcType=TIMESTAMP}, #{ManufactureDate,jdbcType=DATE}, #{ExpiryDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" keyProperty="DrugID" parameterType="com.hospital.mbg.model.Druginventory" useGeneratedKeys="true">
    insert into druginventory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="DrugID != null">
        DrugID,
      </if>
      <if test="DrugName != null">
        DrugName,
      </if>
      <if test="Category != null">
        Category,
      </if>
      <if test="Quantity != null">
        Quantity,
      </if>
      <if test="UnitPrice != null">
        UnitPrice,
      </if>
      <if test="SupplierName != null">
        SupplierName,
      </if>
      <if test="LastUpdated != null">
        LastUpdated,
      </if>
      <if test="ManufactureDate != null">
        ManufactureDate,
      </if>
      <if test="ExpiryDate != null">
        ExpiryDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="DrugID != null">
        #{DrugID,jdbcType=INTEGER},
      </if>
      <if test="DrugName != null">
        #{DrugName,jdbcType=VARCHAR},
      </if>
      <if test="Category != null">
        #{Category,jdbcType=VARCHAR},
      </if>
      <if test="Quantity != null">
        #{Quantity,jdbcType=INTEGER},
      </if>
      <if test="UnitPrice != null">
        #{UnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="SupplierName != null">
        #{SupplierName,jdbcType=VARCHAR},
      </if>
      <if test="LastUpdated != null">
        #{LastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="ManufactureDate != null">
        #{ManufactureDate,jdbcType=DATE},
      </if>
      <if test="ExpiryDate != null">
        #{ExpiryDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hospital.mbg.model.DruginventoryExample" resultType="java.lang.Long">
    select count(*) from druginventory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update druginventory
    <set>
      <if test="row.DrugID != null">
        DrugID = #{row.DrugID,jdbcType=INTEGER},
      </if>
      <if test="row.DrugName != null">
        DrugName = #{row.DrugName,jdbcType=VARCHAR},
      </if>
      <if test="row.Category != null">
        Category = #{row.Category,jdbcType=VARCHAR},
      </if>
      <if test="row.Quantity != null">
        Quantity = #{row.Quantity,jdbcType=INTEGER},
      </if>
      <if test="row.UnitPrice != null">
        UnitPrice = #{row.UnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="row.SupplierName != null">
        SupplierName = #{row.SupplierName,jdbcType=VARCHAR},
      </if>
      <if test="row.LastUpdated != null">
        LastUpdated = #{row.LastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="row.ManufactureDate != null">
        ManufactureDate = #{row.ManufactureDate,jdbcType=DATE},
      </if>
      <if test="row.ExpiryDate != null">
        ExpiryDate = #{row.ExpiryDate,jdbcType=DATE},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update druginventory
    set DrugID = #{row.DrugID,jdbcType=INTEGER},
      DrugName = #{row.DrugName,jdbcType=VARCHAR},
      Category = #{row.Category,jdbcType=VARCHAR},
      Quantity = #{row.Quantity,jdbcType=INTEGER},
      UnitPrice = #{row.UnitPrice,jdbcType=DECIMAL},
      SupplierName = #{row.SupplierName,jdbcType=VARCHAR},
      LastUpdated = #{row.LastUpdated,jdbcType=TIMESTAMP},
      ManufactureDate = #{row.ManufactureDate,jdbcType=DATE},
      ExpiryDate = #{row.ExpiryDate,jdbcType=DATE}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hospital.mbg.model.Druginventory">
    update druginventory
    <set>
      <if test="DrugName != null">
        DrugName = #{DrugName,jdbcType=VARCHAR},
      </if>
      <if test="Category != null">
        Category = #{Category,jdbcType=VARCHAR},
      </if>
      <if test="Quantity != null">
        Quantity = #{Quantity,jdbcType=INTEGER},
      </if>
      <if test="UnitPrice != null">
        UnitPrice = #{UnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="SupplierName != null">
        SupplierName = #{SupplierName,jdbcType=VARCHAR},
      </if>
      <if test="LastUpdated != null">
        LastUpdated = #{LastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="ManufactureDate != null">
        ManufactureDate = #{ManufactureDate,jdbcType=DATE},
      </if>
      <if test="ExpiryDate != null">
        ExpiryDate = #{ExpiryDate,jdbcType=DATE},
      </if>
    </set>
    where DrugID = #{DrugID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hospital.mbg.model.Druginventory">
    update druginventory
    set DrugName = #{DrugName,jdbcType=VARCHAR},
      Category = #{Category,jdbcType=VARCHAR},
      Quantity = #{Quantity,jdbcType=INTEGER},
      UnitPrice = #{UnitPrice,jdbcType=DECIMAL},
      SupplierName = #{SupplierName,jdbcType=VARCHAR},
      LastUpdated = #{LastUpdated,jdbcType=TIMESTAMP},
      ManufactureDate = #{ManufactureDate,jdbcType=DATE},
      ExpiryDate = #{ExpiryDate,jdbcType=DATE}
    where DrugID = #{DrugID,jdbcType=INTEGER}
  </update>
</mapper>