<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mbg.mapper.DrugconsumptionMapper">
  <resultMap id="BaseResultMap" type="com.hospital.mbg.model.Drugconsumption">
    <id column="ConsumptionID" jdbcType="INTEGER" property="ConsumptionID" />
    <result column="DrugID" jdbcType="INTEGER" property="DrugID" />
    <result column="PatientID" jdbcType="INTEGER" property="PatientID" />
    <result column="QuantityUsed" jdbcType="INTEGER" property="QuantityUsed" />
    <result column="LastUpdated" jdbcType="TIMESTAMP" property="LastUpdated" />
    <result column="Count" jdbcType="INTEGER" property="Count" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ConsumptionID, DrugID, PatientID, QuantityUsed, LastUpdated, Count
  </sql>
  <select id="selectByExample" parameterType="com.hospital.mbg.model.DrugconsumptionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from drugconsumption
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drugconsumption
    where ConsumptionID = #{ConsumptionID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drugconsumption
    where ConsumptionID = #{ConsumptionID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hospital.mbg.model.DrugconsumptionExample">
    delete from drugconsumption
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="ConsumptionID" parameterType="com.hospital.mbg.model.Drugconsumption" useGeneratedKeys="true">
    insert into drugconsumption (ConsumptionID, DrugID, PatientID, 
      QuantityUsed, LastUpdated, Count
      )
    values (#{ConsumptionID,jdbcType=INTEGER}, #{DrugID,jdbcType=INTEGER}, #{PatientID,jdbcType=INTEGER}, 
      #{QuantityUsed,jdbcType=INTEGER}, #{LastUpdated,jdbcType=TIMESTAMP}, #{Count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyProperty="ConsumptionID" parameterType="com.hospital.mbg.model.Drugconsumption" useGeneratedKeys="true">
    insert into drugconsumption
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ConsumptionID != null">
        ConsumptionID,
      </if>
      <if test="DrugID != null">
        DrugID,
      </if>
      <if test="PatientID != null">
        PatientID,
      </if>
      <if test="QuantityUsed != null">
        QuantityUsed,
      </if>
      <if test="LastUpdated != null">
        LastUpdated,
      </if>
      <if test="Count != null">
        Count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ConsumptionID != null">
        #{ConsumptionID,jdbcType=INTEGER},
      </if>
      <if test="DrugID != null">
        #{DrugID,jdbcType=INTEGER},
      </if>
      <if test="PatientID != null">
        #{PatientID,jdbcType=INTEGER},
      </if>
      <if test="QuantityUsed != null">
        #{QuantityUsed,jdbcType=INTEGER},
      </if>
      <if test="LastUpdated != null">
        #{LastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="Count != null">
        #{Count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hospital.mbg.model.DrugconsumptionExample" resultType="java.lang.Long">
    select count(*) from drugconsumption
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update drugconsumption
    <set>
      <if test="row.ConsumptionID != null">
        ConsumptionID = #{row.ConsumptionID,jdbcType=INTEGER},
      </if>
      <if test="row.DrugID != null">
        DrugID = #{row.DrugID,jdbcType=INTEGER},
      </if>
      <if test="row.PatientID != null">
        PatientID = #{row.PatientID,jdbcType=INTEGER},
      </if>
      <if test="row.QuantityUsed != null">
        QuantityUsed = #{row.QuantityUsed,jdbcType=INTEGER},
      </if>
      <if test="row.LastUpdated != null">
        LastUpdated = #{row.LastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="row.Count != null">
        Count = #{row.Count,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update drugconsumption
    set ConsumptionID = #{row.ConsumptionID,jdbcType=INTEGER},
      DrugID = #{row.DrugID,jdbcType=INTEGER},
      PatientID = #{row.PatientID,jdbcType=INTEGER},
      QuantityUsed = #{row.QuantityUsed,jdbcType=INTEGER},
      LastUpdated = #{row.LastUpdated,jdbcType=TIMESTAMP},
      Count = #{row.Count,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hospital.mbg.model.Drugconsumption">
    update drugconsumption
    <set>
      <if test="DrugID != null">
        DrugID = #{DrugID,jdbcType=INTEGER},
      </if>
      <if test="PatientID != null">
        PatientID = #{PatientID,jdbcType=INTEGER},
      </if>
      <if test="QuantityUsed != null">
        QuantityUsed = #{QuantityUsed,jdbcType=INTEGER},
      </if>
      <if test="LastUpdated != null">
        LastUpdated = #{LastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="Count != null">
        Count = #{Count,jdbcType=INTEGER},
      </if>
    </set>
    where ConsumptionID = #{ConsumptionID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hospital.mbg.model.Drugconsumption">
    update drugconsumption
    set DrugID = #{DrugID,jdbcType=INTEGER},
      PatientID = #{PatientID,jdbcType=INTEGER},
      QuantityUsed = #{QuantityUsed,jdbcType=INTEGER},
      LastUpdated = #{LastUpdated,jdbcType=TIMESTAMP},
      Count = #{Count,jdbcType=INTEGER}
    where ConsumptionID = #{ConsumptionID,jdbcType=INTEGER}
  </update>
</mapper>