<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mbg.mapper.FinancialsummaryMapper">
  <resultMap id="BaseResultMap" type="com.hospital.mbg.model.Financialsummary">
    <result column="病人唯一标识" jdbcType="INTEGER" property="病人唯一标识" />
    <result column="支付总额" jdbcType="DECIMAL" property="支付总额" />
    <result column="总交易次数" jdbcType="BIGINT" property="总交易次数" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    病人唯一标识, 支付总额, 总交易次数
  </sql>
  <select id="selectByExample" parameterType="com.hospital.mbg.model.FinancialsummaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from financialsummary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hospital.mbg.model.FinancialsummaryExample">
    delete from financialsummary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hospital.mbg.model.Financialsummary">
    insert into financialsummary (病人唯一标识, 支付总额, 总交易次数
      )
    values (#{病人唯一标识,jdbcType=INTEGER}, #{支付总额,jdbcType=DECIMAL}, #{总交易次数,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hospital.mbg.model.Financialsummary">
    insert into financialsummary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="病人唯一标识 != null">
        病人唯一标识,
      </if>
      <if test="支付总额 != null">
        支付总额,
      </if>
      <if test="总交易次数 != null">
        总交易次数,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="病人唯一标识 != null">
        #{病人唯一标识,jdbcType=INTEGER},
      </if>
      <if test="支付总额 != null">
        #{支付总额,jdbcType=DECIMAL},
      </if>
      <if test="总交易次数 != null">
        #{总交易次数,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hospital.mbg.model.FinancialsummaryExample" resultType="java.lang.Long">
    select count(*) from financialsummary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update financialsummary
    <set>
      <if test="row.病人唯一标识 != null">
        病人唯一标识 = #{row.病人唯一标识,jdbcType=INTEGER},
      </if>
      <if test="row.支付总额 != null">
        支付总额 = #{row.支付总额,jdbcType=DECIMAL},
      </if>
      <if test="row.总交易次数 != null">
        总交易次数 = #{row.总交易次数,jdbcType=BIGINT},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update financialsummary
    set 病人唯一标识 = #{row.病人唯一标识,jdbcType=INTEGER},
      支付总额 = #{row.支付总额,jdbcType=DECIMAL},
      总交易次数 = #{row.总交易次数,jdbcType=BIGINT}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>