<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mbg.mapper.InpatientsMapper">
  <resultMap id="BaseResultMap" type="com.hospital.mbg.model.Inpatients">
    <id column="InpatientID" jdbcType="INTEGER" property="InpatientID" />
    <result column="PatientID" jdbcType="INTEGER" property="PatientID" />
    <result column="AdmissionDate" jdbcType="DATE" property="AdmissionDate" />
    <result column="DischargeDate" jdbcType="DATE" property="DischargeDate" />
    <result column="RoomNumber" jdbcType="VARCHAR" property="RoomNumber" />
    <result column="BedNumber" jdbcType="INTEGER" property="BedNumber" />
    <result column="CurrentStatus" jdbcType="CHAR" property="CurrentStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    InpatientID, PatientID, AdmissionDate, DischargeDate, RoomNumber, BedNumber, CurrentStatus
  </sql>
  <select id="selectByExample" parameterType="com.hospital.mbg.model.InpatientsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inpatients
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inpatients
    where InpatientID = #{InpatientID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inpatients
    where InpatientID = #{InpatientID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hospital.mbg.model.InpatientsExample">
    delete from inpatients
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="InpatientID" parameterType="com.hospital.mbg.model.Inpatients" useGeneratedKeys="true">
    insert into inpatients (InpatientID, PatientID, AdmissionDate, 
      DischargeDate, RoomNumber, BedNumber, 
      CurrentStatus)
    values (#{InpatientID,jdbcType=INTEGER}, #{PatientID,jdbcType=INTEGER}, #{AdmissionDate,jdbcType=DATE}, 
      #{DischargeDate,jdbcType=DATE}, #{RoomNumber,jdbcType=VARCHAR}, #{BedNumber,jdbcType=INTEGER}, 
      #{CurrentStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" keyProperty="InpatientID" parameterType="com.hospital.mbg.model.Inpatients" useGeneratedKeys="true">
    insert into inpatients
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="InpatientID != null">
        InpatientID,
      </if>
      <if test="PatientID != null">
        PatientID,
      </if>
      <if test="AdmissionDate != null">
        AdmissionDate,
      </if>
      <if test="DischargeDate != null">
        DischargeDate,
      </if>
      <if test="RoomNumber != null">
        RoomNumber,
      </if>
      <if test="BedNumber != null">
        BedNumber,
      </if>
      <if test="CurrentStatus != null">
        CurrentStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="InpatientID != null">
        #{InpatientID,jdbcType=INTEGER},
      </if>
      <if test="PatientID != null">
        #{PatientID,jdbcType=INTEGER},
      </if>
      <if test="AdmissionDate != null">
        #{AdmissionDate,jdbcType=DATE},
      </if>
      <if test="DischargeDate != null">
        #{DischargeDate,jdbcType=DATE},
      </if>
      <if test="RoomNumber != null">
        #{RoomNumber,jdbcType=VARCHAR},
      </if>
      <if test="BedNumber != null">
        #{BedNumber,jdbcType=INTEGER},
      </if>
      <if test="CurrentStatus != null">
        #{CurrentStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hospital.mbg.model.InpatientsExample" resultType="java.lang.Long">
    select count(*) from inpatients
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update inpatients
    <set>
      <if test="row.InpatientID != null">
        InpatientID = #{row.InpatientID,jdbcType=INTEGER},
      </if>
      <if test="row.PatientID != null">
        PatientID = #{row.PatientID,jdbcType=INTEGER},
      </if>
      <if test="row.AdmissionDate != null">
        AdmissionDate = #{row.AdmissionDate,jdbcType=DATE},
      </if>
      <if test="row.DischargeDate != null">
        DischargeDate = #{row.DischargeDate,jdbcType=DATE},
      </if>
      <if test="row.RoomNumber != null">
        RoomNumber = #{row.RoomNumber,jdbcType=VARCHAR},
      </if>
      <if test="row.BedNumber != null">
        BedNumber = #{row.BedNumber,jdbcType=INTEGER},
      </if>
      <if test="row.CurrentStatus != null">
        CurrentStatus = #{row.CurrentStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update inpatients
    set InpatientID = #{row.InpatientID,jdbcType=INTEGER},
      PatientID = #{row.PatientID,jdbcType=INTEGER},
      AdmissionDate = #{row.AdmissionDate,jdbcType=DATE},
      DischargeDate = #{row.DischargeDate,jdbcType=DATE},
      RoomNumber = #{row.RoomNumber,jdbcType=VARCHAR},
      BedNumber = #{row.BedNumber,jdbcType=INTEGER},
      CurrentStatus = #{row.CurrentStatus,jdbcType=CHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hospital.mbg.model.Inpatients">
    update inpatients
    <set>
      <if test="PatientID != null">
        PatientID = #{PatientID,jdbcType=INTEGER},
      </if>
      <if test="AdmissionDate != null">
        AdmissionDate = #{AdmissionDate,jdbcType=DATE},
      </if>
      <if test="DischargeDate != null">
        DischargeDate = #{DischargeDate,jdbcType=DATE},
      </if>
      <if test="RoomNumber != null">
        RoomNumber = #{RoomNumber,jdbcType=VARCHAR},
      </if>
      <if test="BedNumber != null">
        BedNumber = #{BedNumber,jdbcType=INTEGER},
      </if>
      <if test="CurrentStatus != null">
        CurrentStatus = #{CurrentStatus,jdbcType=CHAR},
      </if>
    </set>
    where InpatientID = #{InpatientID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hospital.mbg.model.Inpatients">
    update inpatients
    set PatientID = #{PatientID,jdbcType=INTEGER},
      AdmissionDate = #{AdmissionDate,jdbcType=DATE},
      DischargeDate = #{DischargeDate,jdbcType=DATE},
      RoomNumber = #{RoomNumber,jdbcType=VARCHAR},
      BedNumber = #{BedNumber,jdbcType=INTEGER},
      CurrentStatus = #{CurrentStatus,jdbcType=CHAR}
    where InpatientID = #{InpatientID,jdbcType=INTEGER}
  </update>
</mapper>