package ${package.Controller};

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import io.swagger.v3.oas.annotations.tags.Tag;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import com.hospital.common.api.CommonResult;
import com.hospital.restful.modules.contractor.dto.${entity};
import ${package.Parent}.service. ${table.serviceName};

import java.util.List;

#set($idType = "")
#set($idName = "")
#foreach($item in $table.fields)
    #if($item.keyFlag)
        #set($idType = $item.columnType.toString().substring(0, 1).toUpperCase() + $item.columnType.toString().substring(1).toLowerCase())
        #set($idName = $item.columnName.toString())
    #end
#end
## 只是模板代码，具体业务逻辑需要自行编写
/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

#set($lowerFirstChar = $table.name.substring(0, 1).toLowerCase())
#set($remainingChars = $table.name.substring(1))
#set($FirstWordLower = $lowerFirstChar + $remainingChars)

@RestController
@Api(tags = "${table.controllerName}")
@Tag(name = "${table.controllerName}", description = "${table.comment}")
@RequestMapping("/RESTful/contractor/${FirstWordLower}")
public class ${table.controllerName} {

    @Autowired
    private ${table.serviceName} ${FirstWordLower}Service;

    @ApiOperation("创建新的$!{table.comment}的行")
    @PostMapping
    public CommonResult create(@Validated @RequestBody ${entity} ${FirstWordLower}) {
        if(${FirstWordLower}Service.create(${FirstWordLower})){
            return CommonResult.success(null,"添加成功");
        }else{
            return CommonResult.failed("添加失败");
        }
    }

    @ApiOperation("更新$!{table.comment}")
    @PutMapping("/{id}")
    public CommonResult update(@PathVariable ${idType} id, @RequestBody ${entity} ${FirstWordLower}) {
        if(${FirstWordLower}Service.update(${FirstWordLower},id)){
            return CommonResult.success(null,"更新成功");
        }else{
            return CommonResult.failed("更新失败");
        }
    }

    @ApiOperation("删除$!{table.comment}")
    @DeleteMapping("/{id}")
    public CommonResult delete(@PathVariable ${idType} id) {
        if(${FirstWordLower}Service.delete(id)){
            return CommonResult.success(null,"删除成功");
        }else{
            return CommonResult.failed("删除失败");
        }
    }
}

