package com.hospital.restful.modules.contractor.dto;

import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import java.util.Date;
import javax.validation.constraints.NotEmpty;
import java.math.BigDecimal;
import javax.validation.constraints.NotNull;
## 只是模板代码，具体业务逻辑需要自行编写
/**
 * $!{table.comment}参数
 * Created by macro on 2018/4/26.
 */
@Data
@EqualsAndHashCode
public class ${entity} {
  #foreach($field in $table.fields)
    #set($tmp = $field.name.substring(0, 1).toUpperCase()+$field.name.substring(1))
    #set($notExclude = true)
    #if($excludeField[$table.name])
      #foreach($f in $excludeField[$table.name])
             #if($f == $tmp)
               #set($notExclude = false)
             #end
      #end
    #end
    #if($notExclude)
      #if(!$field.metaInfo.nullable)
        #if($field.metaInfo.jdbcType == "INTEGER" ||
            $field.metaInfo.jdbcType == "LONG" ||
            $field.metaInfo.jdbcType == "DECIMAL" ||
            $field.metaInfo.jdbcType == "DATE"
        )
  @NotNull
        #else
  @NotEmpty
        #end
  @ApiModelProperty(value = "${field.comment}",required = true)
      #else
  @ApiModelProperty(value = "${field.comment}",required = false)
      #end
      #set($typeField = '')
      #if($field.columnType=="LOCAL_DATE" || $field.columnType=="LOCAL_DATE_TIME" || $field.columnType=="LOCAL_TIME")
        #set($typeField = 'Date')
      #elseif($field.columnType=="STRING")
        #set($typeField = 'String')
      #elseif($field.columnType=="INTEGER")
        #set($typeField = 'Integer')
      #elseif($field.columnType=="LONG")
        #set($typeField = 'Long')
      #elseif($field.columnType=="BIG_DECIMAL")
        #set($typeField = 'BigDecimal')
      #end
  private ${typeField} ${tmp};
    #end
  #end
}
