package ${package.ServiceImpl};
import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import ${package.Parent}.service.${table.serviceName};

import com.hospital.mbg.mapper.${entity}Mapper;
import com.hospital.mbg.model.${entity}Example;
import com.hospital.mbg.model.${entity};

import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * 该类依赖于 ${entity}Mapper 进行数据库操作，
 * 通过注入的方式获取该依赖。
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

#set($lowerFirstChar = $entity.substring(0, 1).toLowerCase())
#set($remainingChars = $entity.substring(1))
#set($FirstWordLower = $lowerFirstChar + $remainingChars)

#set($idType = "Integer")
#foreach($item in $table.fields)
    #if($item.keyFlag)
        #set($idType = $item.columnType.toString().substring(0, 1).toUpperCase()+$item.columnType.toString().substring(1).toLowerCase())
    #end
#end

@Service
public class ${table.serviceImplName} implements  ${table.serviceName} {

    @Autowired
    private ${entity}Mapper ${FirstWordLower}Mapper;

    /**
     * 获取所有$!{table.comment}
     *
     * @return 包含所有预约的列表
     */
    @Override
    public List<${entity}> getAll() {
        return ${FirstWordLower}Mapper.selectByExample(new ${entity}Example());
    }

    /**
     * 根据ID获取$!{table.comment}
     *
     * @param ${FirstWordLower}Id 预约ID
     * @return 对应的预约对象，如果未找到则返回null
     */
    @Override
    public ${entity} getById(${idType} ${FirstWordLower}Id) {
        return ${FirstWordLower}Mapper.selectByPrimaryKey(${FirstWordLower}Id);
    }

    /**
     * 创建新的$!{table.comment}的行
     *
     * @param ${FirstWordLower} 预约对象
     * @return 创建成功返回true，否则返回false
     */
    @Override
    public boolean create(${entity} ${FirstWordLower}) {
        return ${FirstWordLower}Mapper.insertSelective(${FirstWordLower}) > 0;
    }

    /**
     * 更新现有的$!{table.comment}
     *
     * @param ${FirstWordLower} 预约对象
     * @return 更新成功返回true，否则返回false
     */
    @Override
    public boolean update(${entity} ${FirstWordLower}) {
        return ${FirstWordLower}Mapper.updateByPrimaryKeySelective(${FirstWordLower}) > 0;
    }

    /**
     * 根据ID删除$!{table.comment}
     *
     * @param ${FirstWordLower}Id 预约ID
     * @return 删除成功返回true，否则返回false
     */
    @Override
    public boolean delete(${idType} ${FirstWordLower}Id) {
        return ${FirstWordLower}Mapper.deleteByPrimaryKey(${FirstWordLower}Id) > 0;
    }

}

